body {
    margin: 0;
    font-family: Arial;
    background: #000000;
    color: rgb(255, 255, 255);
}

header {
    text-align: center;
    background: #000000;
    padding: 20px;
}

nav {
    background: #222e42;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.cameras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.camera {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

video{
    width: 50%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #020617;
    margin-top: 20px;
}